extends ./layout.jade

block main
    section.page
        .container.container--white
            .page__two-columns.clearfix
                .breadcrumbs
                    ul.breadcrumbs__list.unstyled-list
                        li.breadcrumbs__item
                            a.breadcrumbs__lnk(href='/') Главная
                        li.breadcrumbs__item
                            span.breadcrumbs__sep >
                        li.breadcrumbs__item
                            a.breadcrumbs__lnk(href='/')  Климатическая техника
                        li.breadcrumbs__item
                            span.breadcrumbs__sep >
                        li.breadcrumbs__item
                            span.breadcrumbs__lnk.breadcrumbs__lnk--active  Охладители
                aside.page__aside.f-left
                    .page__aside-item
                        .cat-menu.js-toggle
                            h3.cat-menu__heading.as-icon.as-icon--toggle.active.js-toggle__trigger Каталог продукции
                            .js-toggle__item
                                ul.cat-menu__list.unstyled-list
                                    li.cat-menu__item.cat-menu__item--parent.js-toggle
                                        a.cat-menu__link.js-toggle__trigger(href='#') Душевые кабины, боксы и уголки
                                        ul.cat-menu__sublist.js-toggle__item.unstyled-list
                                            li.cat-menu__subitem
                                                a.cat-menu__sublink(href='#') Душевые кабины
                                            li.cat-menu__subitem
                                                a.cat-menu__sublink(href='#') Душевые боксы
                                            li.cat-menu__subitem
                                                a.cat-menu__sublink(href='#') Душевые уголки
                                    li.cat-menu__item
                                        a.cat-menu__link(href='#') Душевые двери
                                    li.cat-menu__item
                                        a.cat-menu__link(href='#') Душевые поддоны
                                    li.cat-menu__item.cat-menu__item--parent.js-toggle
                                        a.cat-menu__link.js-toggle__trigger(href='#') Аксессуары к душевым кабинам
                                        ul.cat-menu__sublist.unstyled-list.js-toggle__item
                                            li.cat-menu__subitem
                                                a.cat-menu__sublink(href='#') Душевые кабины
                                            li.cat-menu__subitem
                                                a.cat-menu__sublink(href='#') Душевые боксы
                                            li.cat-menu__subitem
                                                a.cat-menu__sublink(href='#') Душевые уголки
                    .page__aside-item
                        .filter.js-other
                            .filter__item.js-other__item
                                h5.filter__label Производитель
                                .filter__wrap
                                    .filter__select-wrap
                                        .filter__select-item
                                            select.filter__select.js-select(name='')
                                                option(value="1") Любой
                                                option(value="2") Grado
                                                option(value="3") Akvali
                                                option(value="4") Radawei
                                                option(value="2") Grado
                                                option(value="3") Akvali
                                                option(value="4") Radawei
                                                option(value="2") Grado
                                                option(value="3") Akvali
                                                option(value="4") Radawei
                                        .filter__select-add Нужно несколько?
                                            a(href='#') Добавить

                            .filter__item.js-other__item
                                h5.filter__label Цена
                                .filter__wrap
                                    .filter__group
                                        span.filter__input-label от
                                        input.filter__input(type='text')
                                        span.filter__input-label до
                                        input.filter__input(type='text')
                            .filter__item.js-other__item
                                h5.filter__label Вид
                                .filter__wrap
                                    for item in [1,2,3,4]
                                        .pseudo-check.filter__check
                                            input.pseudo-check__input(type='checkbox', id='view'+item)
                                            label.pseudo-check__label.filter__check-label(for='view'+item)= 'Душевая кабина' + item
                                                .pseudo-check__bg.pseudo-check__bg--big

                            .filter__item.js-other__item
                                h5.filter__label Форма поддона
                                .filter__wrap
                                    for item in [1,2,3,4]
                                        .pseudo-check.filter__check
                                            input.pseudo-check__input(type='checkbox', id='form'+item)
                                            label.pseudo-check__label.filter__check-label(for='form'+item)= 'Прямоугольник' + item
                                                .pseudo-check__bg.pseudo-check__bg--big
                            .filter__item.js-other__item
                                h5.filter__label Тип поддона
                                .filter__wrap
                                    for item in [1,2,3,4]
                                        .pseudo-check.filter__check
                                            input.pseudo-check__input(type='checkbox', id='type'+item)
                                            label.pseudo-check__label.filter__check-label(for='type'+item)= 'Низкий' + item
                                                .pseudo-check__bg.pseudo-check__bg--big
                            .filter__item.js-other__item
                                h5.filter__label Конструкция дверей
                                .filter__wrap
                                    for item in [1,2,3,4]
                                        .pseudo-check.filter__check
                                            input.pseudo-check__input(type='checkbox', id='door'+item)
                                            label.pseudo-check__label.filter__check-label(for='door'+item)= 'Раздвижные' + item
                                                .pseudo-check__bg.pseudo-check__bg--big
                            .filter__item.js-other__item
                                h5.filter__label Исполнение стекла
                                .filter__wrap
                                    for item in [1,2,3,4]
                                        .pseudo-check.filter__check
                                            input.pseudo-check__input(type='checkbox', id='wind'+item)
                                            label.pseudo-check__label.filter__check-label(for='wind'+item)= 'Прозрачное' + item
                                                .pseudo-check__bg.pseudo-check__bg--big
                            .filter__item.js-other__item
                                h5.filter__label Монтаж
                                .filter__wrap
                                    for item in [1,2,3,4]
                                        .pseudo-check.filter__check
                                            input.pseudo-check__input(type='checkbox', id='plug'+item)
                                            label.pseudo-check__label.filter__check-label(for='plug'+item)= 'В проем' + item
                                                .pseudo-check__bg.pseudo-check__bg--big
                            .filter__item.js-other__item
                                h5.filter__label Материал стенок
                                .filter__wrap
                                    for item in [1,2,3,4]
                                        .pseudo-check.filter__check
                                            input.pseudo-check__input(type='checkbox', id='wall'+item)
                                            label.pseudo-check__label.filter__check-label(for='wall'+item)= 'Пластик' + item
                                                .pseudo-check__bg.pseudo-check__bg--big
                            .filter__item.js-other__item
                                h5.filter__label Высота
                                .filter__wrap
                                    .filter__group
                                        input.filter__input(type='text')
                                        span.filter__input-label -
                                        input.filter__input(type='text')
                                        span.filter__input-label см
                            .filter__item.js-other__item
                                h5.filter__label Ширин
                                .filter__wrap
                                    .filter__group
                                        input.filter__input(type='text')
                                        span.filter__input-label -
                                        input.filter__input(type='text')
                                        span.filter__input-label см
                            .filter__item.js-other__item
                                h5.filter__label Глубина
                                .filter__wrap
                                    .filter__group
                                        input.filter__input(type='text')
                                        span.filter__input-label -
                                        input.filter__input(type='text')
                                        span.filter__input-label см
                            .filter__item.js-other__item
                                h5.filter__label Высота
                                .filter__wrap
                                    .filter__group
                                        input.filter__input(type='text')
                                        span.filter__input-label -
                                        input.filter__input(type='text')
                                        span.filter__input-label см
                            .filter__item.js-other__item
                                h5.filter__label Ширин
                                .filter__wrap
                                    .filter__group
                                        input.filter__input(type='text')
                                        span.filter__input-label -
                                        input.filter__input(type='text')
                                        span.filter__input-label см
                            .filter__item.js-other__item
                                h5.filter__label Глубина
                                .filter__wrap
                                    .filter__group
                                        input.filter__input(type='text')
                                        span.filter__input-label -
                                        input.filter__input(type='text')
                                        span.filter__input-label см
                            .filter__item
                                .filter__showall.t-center.js-other__show(data-count='12')
                                    a.filter__showall-lnk.js-other__show(href='#') Показать все параметры
                    .page__aside-item
                        .banner
                            img.banner__img(src='./img/banner/banner1.jpg')
                .page__content.page__content--right.f-right
                    .page__heading
                        h1.page__title Душевые кабины, боксы и уголки
                    .seo.js-seo
                        .seo__text.seo__text--small.js-seo__content
                            p Практически все душевые кабины оснащены системой гидромассажа, который осуществляется благодаря встроенными гидромассажными панелями. Эти прямоугольные стойки во все “рост” душевой кабины оснащены специальными форсунками – небольшими отверстиями, которые точечно распыляют воду с определенной интенсивностью. Эффект массажа достигается благодаря попеременным автоматическим включением и выключениям форсунок.
                            p Душевая кабина – относительно новый сантехнический продукт, который предлагает нам отечественный рынок. На западе душевая кабина, как правило, является не столько заменой ванны, как ее дополнением. В большинстве же российских квартир с небольшими метражами ванных комнат, возможности установить и ванну, и душевую кабину, к сожалению, практически нет. Поэтому многие принимают решение заменить ванну душевой кабиной, что позволит освободить дополнительное полезное пространство. Хотелось бы отметить, что в этом случае Вам необходимо учесть предпочтения всех членов вашей семьи, а также свыкнутся с мыслью, что понежиться в теплой водичке более не придется, но зато у Вас будет возможность комфортно принять душ, да не простой, а массажный, а то даже попариться в баньке или сауне – возможностей и разнообразных функций у современных кабин предостаточно.
                        .seo__readmore-wrap.t-center
                            a.seo__readmore-lnk.seo__readmore-lnk--small.js-seo__btn Подробнее
                    .catalog
                        .sort-bar
                            .sort-bar__wrap.clearfix
                                .sort-bar__item.f-left
                                    span.sort-bar__label Сортировать:
                                    a.sort-bar__btn.active(href='#') По цене
                                    a.sort-bar__btn(href='#') По популярности
                                    a.sort-bar__btn(href='#') По отзывам
                                .sort-bar__item.f-right
                            .sort-bar__param-bar.clearfix
                                .sort-bar__param-wrap.f-left
                                    .sort-bar__param ALBATROS
                                        a.sort-bar__param-lnk(href='#')
                                    .sort-bar__param ПРОЗРАЧНОЕ
                                        a.sort-bar__param-lnk(href='#')
                                .sort-bar__clear.f-right
                                    a.sort-bar__param.sort-bar__param--clear(href='#') Сбросить всё
                        .catalog__wrap.clearfix
                            for item in [10,11,12]
                                .catalog__item
                                    .product-preview.t-center
                                        span.product-label.product-preview__status-label.s-icon.s-icon--blabel Хиты продаж
                                        .product-preview__img-wrap
                                            a(href='./shower.html')
                                                img.product-preview__img(src='./img/product/product1.jpg')
                                        .product-preview__meta.clearfix
                                            span.stock.stock--outstock.bs-icon.bs-icon--outstock.f-left В наличии
                                            .product-compare.f-right
                                                .pseudo-check
                                                    input.pseudo-check__input(type='checkbox', id='compare'+item)
                                                    label.pseudo-check__label(for='#compare'+item) Сравнить
                                                        .pseudo-check__bg
                                        h3.product-preview__title
                                            a.product-preview__lnk(href='./shower.html') Охладители Symphony Ice cube
                                        .product-preview__rating
                                            i.rating__star.s-icon.s-icon--pstar
                                            i.rating__star.s-icon.s-icon--pstar
                                            i.rating__star.s-icon.s-icon--pstar
                                            i.rating__star.s-icon.s-icon--pstar
                                            i.rating__star.s-icon.s-icon--nstar
                                        .product-preview__feature.product-feature
                                            img.product-feature__img(src='./img/feature/f1.png', title='Особенность')
                                            img.product-feature__img(src='./img/feature/f2.png', title='Особенность')
                                            img.product-feature__img(src='./img/feature/f3.png', title='Особенность')
                                            img.product-feature__img(src='./img/feature/f4.png', title='Особенность')
                                            img.product-feature__img(src='./img/feature/f5.png', title='Особенность')
                                        .product-preview__price 17 270 000 руб.
                                        .product-preview__btn-wrap
                                            a.product-btn.product-btn--order.product-preview__btn.js-modal(href='#order-modal') Заказать
                                        .product-preview__review-wrap
                                            a.product-preview__review-lnk(href='#') 25 отзывов
                            for item in [1,2,3,4,5,6,7,8,9]
                                .catalog__item
                                    .product-preview.t-center
                                        span.product-label.product-preview__status-label.s-icon.s-icon--blabel Хиты продаж
                                        .product-preview__img-wrap
                                            a(href='./shower.html')
                                                img.product-preview__img(src='./img/product/product1.jpg')
                                        .product-preview__meta.clearfix
                                            span.stock.stock--instock.bs-icon.bs-icon--instock.f-left В наличии
                                            .product-compare.f-right
                                                .pseudo-check
                                                    input.pseudo-check__input(type='checkbox', id='compare'+item)
                                                    label.pseudo-check__label(for='#compare'+item) Сравнить
                                                        .pseudo-check__bg
                                        h3.product-preview__title
                                            a.product-preview__lnk(href='./shower.html') Охладители Symphony Ice cube
                                        .product-preview__rating
                                            i.rating__star.s-icon.s-icon--pstar
                                            i.rating__star.s-icon.s-icon--pstar
                                            i.rating__star.s-icon.s-icon--pstar
                                            i.rating__star.s-icon.s-icon--pstar
                                            i.rating__star.s-icon.s-icon--nstar
                                        .product-preview__feature.product-feature
                                            img.product-feature__img(src='./img/feature/f1.png', title='Особенность')
                                            img.product-feature__img(src='./img/feature/f2.png', title='Особенность')
                                            img.product-feature__img(src='./img/feature/f3.png', title='Особенность')
                                            img.product-feature__img(src='./img/feature/f4.png', title='Особенность')
                                            img.product-feature__img(src='./img/feature/f5.png', title='Особенность')
                                        .product-preview__price 17 270 000 руб.
                                        .product-preview__btn-wrap
                                            a.product-btn.product-preview__btn(href='/') Купить.
                                        .product-preview__review-wrap
                                            a.product-preview__review-lnk(href='#') 25 отзывов
                            include ./include/pagination.jade
            #order-modal.modal
                .modal__wrap
                    .modal__close.as-icon.as-icon--close.js-modal__close Закрыть
                    .modal__bar
                    .wform.wform--order
                        form#order-form
                            .wform__group
                                .wform__notice Данного товара сейчас нет в наличии, но вы можете
                                    |оставить свои контактные данные, и Вам обязательно
                                    |перезвоним и сообщим, когда данный товар появится.
                            .wform__group
                                input.wform__input(type='text', placeholder='Ник или E-mail', name='login')
                            .wform__group
                                input.wform__input(type='password', placeholder='Пароль', name='pass')
                            .wform__group
                                input.wform__submit(type='submit', placeholder='Оставить заявку')